* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #ffffff;
  color: #333;
}

body h2 {
  color: #56a55a;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 35px;
  font-weight: bold;
  margin-top: 50px;
}

.navbar-menu {
  background-color: #56a55a;
  display: flex;
  padding: 10px 5px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
  height: 100px;
}

#nombre-emp {
  display: flex;
  align-items: center;
  margin-top: -55px;
  margin-left: 90px;
}

.logo img {
  width: 90px;
  margin-top: -33px;
}

.navbar-menu .logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.menu li {
  display: inline;
  margin-top: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #3a7036;
}

input:focus {
  outline: none;
}

.menu-seccion {
  color: #fff;
  text-align: center;
}

.menu-seccion p {
  margin-bottom: 5px;
}

.menu-seccion button {
  background-color: #fff;
  color: #56a55a;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 8px;
}

.menu-seccion button:focus {
  outline: none;
}

.menu-seccion button:hover {
  background-color: #f0f0f0;
  color: #56a55a;
}

.carousel-item img {
  height: 680px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtro negro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto centrado encima del slider */
.slider-overlay h1 {
  font-size: large;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.form-container {
  width: 400px;
  height: fit-content;
  padding: 20px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.form-container input,
.form-container textarea {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container button {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  background-color: #38b63e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #2e8b2e;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputs input[type="text"],
.inputs input[type="file"],
.inputs input[type="number"],
.inputs textarea {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputs textarea {
  resize: vertical;
  height: 100px;
}

.inputs input[type="submit"] {
  font-size: 1rem;
  background-color: #56a55a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputs input[type="submit"]:hover {
  background-color: #3a7036;
}

.container-btn {
  text-align: center;
}

.tg {
  width: 75%;
  height: fit-content;
  font-weight: bold;
  margin: 50px auto;
  border-collapse: collapse;
  border-color: #bbb;
  border-spacing: 0;
}

.tg td {
  background-color: #f0fcf4;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  color: #594f4f;
  font-family: Arial, sans-serif;
  overflow: hidden;
  word-break: normal;
  border: none;
}

.tg th {
  background-color: #56a55a;
  border-color: #bbb;
  border-style: solid;
  border-width: 1px;
  color: #493f3f;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg .tg-0lax {
  text-align: center;
}

.tg tr th {
  color: #fff;
}

#img-producto {
  margin-top: 10px;
  max-width: 140px;
}

.tg svg {
  margin-right: 3px;
  width: 30px;
  height: 30px;
}

.tg td {
  font-size: 1.2rem;
}

#acciones {
  display: flex; /* Alinea los botones en una fila */
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center; /* Alinea los botones verticalmente */
  gap: 10px; /* Espaciado entre los botones */
  flex-wrap: nowrap; /* Evita que los botones se envuelvan */
  height: 100%;
  margin: 0 auto; /* Centra el contenedor de acciones */
}


#acciones button {
  width: auto; /* Ajusta el ancho automáticamente al contenido */
  padding: 8px 15px; /* Espaciado interno del botón */
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-btn,
#modify-btn {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  font-size: 1rem;
}

#delete-btn:hover {
  background-color: #c93241;
  color: #fff;
}

#modify-btn {
  background-color: #56a55a;
  border-color: #56a55a;
}

#modify-btn:hover {
  background-color: #3a7036;
  border-color: #3a7036;
}

a {
  color: #56a55a;
  text-decoration: none;
}

.mensaje {
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  color: #dc3545;
}

footer {
  text-align: center;
  padding-top: 10px;
  background-color: #2c6b38;
  color: white;
  margin-top: auto; /* Empuja el footer al final del contenedor */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.popup.success {
  border: 2px solid #38b63e;
}

.popup.error {
  border: 2px solid #e74c3c;
}

.popup p {
  color: #38b63e;
  font-size: 18px;
  margin-bottom: 10px;
}

.popup img.popup-icon {
  width: 50px;
  height: 50px;
}

.filters {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  margin-left: 240px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start; /* Alinea el buscador a la izquierda */
  width: 50%; /* Ocupa la mitad del espacio disponible */
}

/* Estilo para el ícono del buscador */
.search-container i {
  font-size: 1.5rem; /* Agrandar el ícono */
  color: #333;
}

/* Estilo para el input del buscador */
#search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
  background-color: #f9f9f9;
}

/* Estilo para el contenedor del filtro */
.filter-container {
  margin-right: 240px;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea el filtro a la derecha */
  gap: 10px;
  width: 50%; /* Ocupa la mitad del espacio disponible */
}

/* Estilo para el select del filtro */
.filter-container select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  cursor: pointer;
}

.sort-icon {
  cursor: pointer;
}

/* Estilo para la etiqueta del filtro */
.filter-container label {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .search-input {
    width: 80%;
  }
}

/* Estilo para el efecto de carga */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilo para el círculo de carga */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #56a55a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animación del círculo de carga */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
