* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, Arial, sans-serif;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #ffffff;
  color: #333;
}

body h2 {
  color: #56a55a;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 35px;
}

.navbar-menu {
  background-color: #56a55a;
  display: flex;
  padding: 10px 5px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
  height: 90px;
}

#nombre-emp {
  display: flex;
  align-items: center;
  margin-top: -55px;
  margin-left: 90px;
}

.logo img {
  width: 90px;
  margin-top: -33px;
}

.navbar-menu .logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.menu li {
  display: inline;
  margin-top: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #3a7036;
}

input:focus {
  outline: none;
}

.menu-seccion {
  color: #fff;
  text-align: center;
}

.menu-seccion p {
  margin-bottom: 5px;
}

.menu-seccion button {
  background-color: #fff;
  color: #56a55a;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 8px;
}

.menu-seccion button:focus {
  outline: none;
}

.menu-seccion button:hover {
  background-color: #f0f0f0;
  color: #56a55a;
}

.carousel-item img {
  height: 650px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtro negro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-overlay h1 {
  font-size: large;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.filters {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  margin-left: 170px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

#a-show-all {
  margin-right: 175px;
  text-decoration: none;
  color: #2C6B38;
}

/* Estilo para el ícono del buscador */
.search-container i {
  font-size: 1.5rem; /* Agrandar el ícono */
  color: #333;
}

/* Estilo para el input del buscador */
#search-bar {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 300px;
  background-color: #f9f9f9;
}

/* Contenedor de productos */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajustar columnas automáticamente */
  gap: 15px;
  padding: 15px;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

/* Tarjeta de producto */
.product-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 25px 0px 15px 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Contenedor de la imagen del producto */
.img-product {
  border-bottom: 1px solid #eceaeace;
  width: 100%;
  height: 200px; /* Altura fija para todas las imágenes */
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  overflow: hidden; /* Ocultar contenido que sobresalga */
}

/* Imagen del producto */
.product-card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ajustar imagen dentro del contenedor */
  border-radius: 8px 8px 0 0;
  margin-bottom: 10px;
}

/* Nombre del producto */
.product-card h3 {
  font-size: 16px;
  color: #666;
  margin: 8px 0;
}

/* Precio o descripción */
.product-card p {
  font-size: 22px;
  color: #333;
  font-weight: bold;
  margin: 4px 0;
  font-family: Montserrat, sans-serif;
}

/* Botón de acción */
.product-card button {
  margin-top: auto; /* Empuja el botón hacia abajo si hay espacio */
  background-color: #56a55a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

/* Efectos al pasar el mouse */
.product-card button:hover {
  background-color: #3a7036;
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

footer {
  padding-top: 10px;
  text-align: center;
  background-color: #2C6B38;
  color: white;
  margin-top: auto;
}

/* Estilo para el efecto de carga */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Estilo para el círculo de carga */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #56a55a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animación del círculo de carga */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajustar el tamaño mínimo en pantallas pequeñas */
  }

  .navbar-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .search-input {
    width: 80%;
  }
}
