* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-container {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.form-container h2 {
    margin: 7px;
    text-align: center;
    color: #333;
}

.form-container input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#registrarse {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    text-align: center;
    background-color: #38b63e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

#registrarse:hover {
    background-color: #2e8b2e;
}

#registrarse a {
    color: #fff;
    text-decoration: none;
}

.google-login {
    background-color: transparent;
    color: #000;
    padding: 10px;
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login .google-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#ini-sesion {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}

a {
    color: #38b63e;
    text-decoration: none;
}

html {
    background: url('/public/assets/img/didi.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Filtro verde y opacidad en el fondo */
html::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.4); /* Filtro verde con transparencia */
    z-index: -1; /* Para que el filtro quede detrás del formulario */
}