* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: #ffffff;
  color: #333;
}


body h2 {
  color: #56a55a;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 35px;
}

.navbar-menu {
  background-color: #56a55a;
  display: flex;
  padding: 10px 5px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.26);
  height: 100px;
}

#nombre-emp {
  display: flex;
  align-items: center;
  margin-top: -55px;
  margin-left: 90px;
}

.logo img {
  width: 90px;
  margin-top: -33px;
}

.navbar-menu .logo a {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.menu li {
  display: inline;
  margin-top: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.menu li a:hover {
  background-color: #3a7036;
}

input:focus {
  outline: none;
}

.menu-seccion {
  color: #fff;
  text-align: center;
}

.menu-seccion p {
  margin-bottom: 5px;
}

.menu-seccion button {
  background-color: #fff;
  color: #56a55a;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
  border-radius: 8px;
}

.menu-seccion button:focus {
  outline: none;
}


.menu-seccion button:hover {
  background-color: #f0f0f0;
  color: #56a55a;
}

.carousel-item img {
  height: 680px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Filtro negro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto centrado encima del slider */
.slider-overlay h1 {
  font-size: large;
  color: #fff;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}


.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  width: 200px;
}

input:focus {
  outline: none;
}

.search-btn {
  background-color: #3A7036;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #2C6B38;
}


.menu-seccion {
  color: #fff;
}

.menu-seccion button {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  font-weight: bold;
}

.menu-seccion a {
  text-decoration: none;
  color: #56A55A;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  color: #888;
  font-size: 1em;
}





.container-proveedor {
  background-color: #56A55A;
  width: 25%;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.container-proveedor h2 {
  color: #fff;
  margin: 10px;
}

.container-proveedor a, ul {
  text-decoration: none;
  list-style: none;
}

#btn-prod {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

#btn-prod a {
  color: #000;
}

#btn-prod:hover {
  background-color: #e6e1e1;
}


h2 {
  color: #56A55A;
  text-align: center;
  margin-top: 30px;
  font-size: 2.5rem;
}

.tg {
  width: 90%;
  height: fit-content;
  font-weight: bold;
  margin: 50px auto;
  border-collapse:collapse;
  border-color:#bbb;
  border-spacing: 0;
}


.tg td{
  background-color:#f0fcf4;
  border-color:#bbb;
  border-style:solid;
  border-width:1px;
  color:#594F4F;
  font-family:Arial, sans-serif;
  font-size:18px;
  overflow:hidden;
  word-break:normal;
}

.tg th{
  background-color:#56A55A;
  border-color:#bbb;
  border-style:solid;
  border-width:1px;
  color:#493F3F;
  font-family:Arial, sans-serif;
  font-size:20px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg .tg-0lax{
  text-align:center;
}

.tg tr th {
  color: #fff
}

#img-producto {
  width: 200px;
}

.tg svg {
  margin-right: 3px;
  width: 30px;
  height: 30px;
}

#acciones button {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

#modify-btn {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
  border-width: 2px;
  border-radius: 5px;
  border-style: solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
}


#modify-btn {
  background-color: #56A55A;
  border-color: #56A55A;
}

#modify-btn:hover {
  background-color: #3A7036;
  border-color: #3A7036;
}



footer {
  text-align: center;
  padding: 20px;
  background-color: #2C6B38;
  color: white;
  margin-top: auto;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .menu li {
    display: block;
    margin: 10px 0;
  }

  .search-container {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .search-input {
    width: 80%;
  }
}
