{% extends "layout_proveedor.twig" %}

{% block title %}
Inicio Proveedor - Mi Tienda
{% endblock %}

{% block sesion %}
<div class="menu-seccion">
    {% if session.usuario_nombre is defined %}
        <p>Hola, {{ session.usuario_nombre }}</p>
        <button><a href="logout.php">Cerrar Sesión</a></button>
    {% else %}
        <button><a href="login.php">Iniciar Sesión</a></button> |
        <button><a href="registro-proveedor.php">Registrarse</a></button>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<h2>Bienvenido, Proveedor</h2>

    <div class="container-btn">
        <button id="productos-btn" onclick="location.href='agregar-producto.php'">Agregar Producto</button>

        <button id="productos-btn" onclick="location.href='ver-productos.php'">Ver Productos</button>
    </div>
{% endblock %}