{% extends "layout.twig" %}

{% block title %}
Inicio Proveedor - Mi Tienda
{% endblock %}

{% block sesion %}
<div class="menu-seccion">
    {% if session.usuario_nombre is defined %}
        <p>Hola, {{ session.usuario_nombre }}</p>
    {% else %}
        <button><a href="login.php">Iniciar Sesión </a></button> |
        <button><a href="registro.php">Registrarse</a></button>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Bienvenido, Proveedor</h2>
    <ul>
        <li><a href="agregar-producto.php">Agregar Producto</a></li>
        <li><a href="ver-productos.php">Ver Productos</a></li>
    </ul>
</div>
{% endblock %}