<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Tienda{% endblock %}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/img/favicon-16x16.png">
  <link rel="manifest" href="/public/assets/img/site.webmanifest">
  <link rel="stylesheet" href="{{ css_url }}">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="inicio-proveedor.php"><img src="/public/assets/img/android-chrome-512x512.png" alt="Mi colmado"><span id="nombre-emp">MI COLMADO</span></a>
        </div>
        <ul class="menu">
          <li><a href="inicio-proveedor.php">Inicio</a></li>
          <li><a href="agregar-producto.php">Agregar productos</a></li>
          <li><a href="ver-productos.php">Ver productos</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
          <section>
          {% block sesion %}{% endblock %}
          </section>
      </nav>
    </header>

    

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 - Mi Colmado</p>
    </footer>
  </div>
</body>
</html>
