<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi Tienda{% endblock %}</title>
  <!-- Enlace al archivo CSS -->
  <link rel="stylesheet" href="{{ css_url }}">
</head>
<body>
  <div class="container">
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="#">Mi Colmado</a>
        </div>
        <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Mis pedidos</a></li>
          <li><a href="#">Mis colmados</a></li>
          <li><a href="#">Sobre nosotros</a></li>
        </ul>
          <section>
          {% block sesion %}{% endblock %}
          </section>
      </nav>
    </header>

    

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p>&copy; 2025 - Mi Colmado</p>
    </footer>
  </div>
</body>
</html>
